@charset "utf-8";
/* CSS Document */
.camposTextos{
	border:1px solid #528277;
	border-radius:2px;
	font-size:0.95em;
	font-family:Verdana, Myriad Pro, Arial;
	font-weight:lighter;
	padding:1% 1.1%;
	margin-top:2%;
	width: 120%;
}
form table{
	width: 60%;
}
#secListadoParticipantes{
	margin-left:34%;
}
.tblConsultaCompetencia{
	text-align:center;	
	margin-top:3%;
}
.tblConsultaCompetencia td {
	padding-top:3%;	
}

.spanTablaInscripcion{
	font-family:Verdana, Myriad Pro, Arial;
	color:#2AACC8;
	font-weight:bold;
}
.spanCategoria{
	font-family:Verdana, Myriad Pro, Arial;
	color:#2AACC8;
}
.boton{
	background-color:#56bf56;
	background-image: gradient(linear, left top, left bottom, color-stop(0, rgba(255,255,255,0.2)), color-stop(0.5, rgba(255,255,255,0.2)), color-stop(0.5, #56bf56));
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255,255,255,0.2)), color-stop(0.5, rgba(255,255,255,0.2)), color-stop(0.5, #56bf56));
	background-image: -moz-gradient(linear, left top, left bottom, color-stop(0, rgba(255,255,255,0.2)), color-stop(0.5, rgba(255,255,255,0.2)), color-stop(0.5, #56bf56));
	background-image: -ms-gradient(linear, left top, left bottom, color-stop(0, rgba(255,255,255,0.2)), color-stop(0.5, rgba(255,255,255,0.2)), color-stop(0.5, #56bf56));
	background-image: -o-gradient(linear, left top, left bottom, color-stop(0, rgba(255,255,255,0.2)), color-stop(0.5, rgba(255,255,255,0.2)), color-stop(0.5, #56bf56));
	border:0.15em solid #238276;
	border-radius:3px;
	color:#FFF;
	cursor:pointer;
	font-family:Verdana, Arial;
	font-size:1em;
	padding:0.3% 1%;
	margin-top:2%;
	width:120px;
	text-shadow:0 0 4px #666;
	-webkit-text-shadow:0 0 4px #666;
	-moz-text-shadow:0 0 4px #666;
	-ms-text-shadow:0 0 4px #666;
	-o-text-shadow:0 0 4px #666;
}
.textarea{
	border:1px solid #528277;
	border-radius:2px;
	font-size:0.95em;
	font-family:Verdana, Myriad Pro, Arial;
	font-weight:lighter;
	padding:1% 1.1%;
	margin-top:2%;
	width: 100%;
	height:100px;
	max-width: 500px;
    max-height: 200px;
}
.consultaTabla{
	border-collapse:collapse;
	margin-top:5%;
	width: 180%;
}
.consultaTabla th{
	color:#030303;
	background-color:#E4E4E4;
}
.consultaTabla td{
	border-bottom:1px solid #363636;
	background-color: #FFF;
}

/*Mensaje*/
.ui-dialog {
	background:url(../imagenes/fondoMensaje.png);
	background-size:cover;
}
.iconoMensaje{
	width:30px;
	height:25px;
}
.imgPersonajeMensaje{
	width:90px;
	height:120px;
}
.ui-widget-header{
	color:#000;
}
.tooltip{
	opacity:1;
	display: inline;
	width:20px;
}